In [2]:
# Dependencies
import pandas as pd
from pathlib import Path
import os
import csv

In [3]:
# Save path to the data set as a variable; why does the relative path never work! have to rely on full path! ..............ohh wait it worked -- had to add directory onto path/ so three levels to get to actual file

Url = Path("../project-3/Resources/NCHS_-_Drug_Poisoning_Mortality_by_County__United_States_20240530.csv")

In [4]:
#read csv file
data_file = pd.read_csv(Url)
data_file.head()

,FIPS,Year,State,ST,FIPS State,County,Population,"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)"
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4

In [5]:
#df the file
Odata_file_df = pd.DataFrame(data_file)
Odata_file_df

,FIPS,Year,State,ST,FIPS State,County,Population,"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)"
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4
...,...,...,...,...,...,...,...,...
53382,56003,2006,Wyoming,WY,56,"Big Horn County, WY",11222.0,8.1-10
53383,56007,2001,Wyoming,WY,56,"Carbon County, WY",15217.0,6.1-8
53384,56035,2003,Wyoming,WY,56,"Sublette County, WY",6687.0,0-2
53385,56001,2000,Wyoming,WY,56,"Albany County, WY",31966.0,4.1-6
53386,56029,1999,Wyoming,WY,56,"Park County, WY",25664.0,4.1-6

In [6]:
#rename last column
data_file_df = Odata_file_df.rename(columns={"Estimated Age-adjusted Death Rate, 16 Categories (in ranges)":"Est. Age-Adj death rate (in ranges)"})
data_file_df.head()

,FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges)
0,2290,2007,Alaska,AK,2,"Yukon-Koyukuk Census Area, AK",5712.0,8.1-10
1,2016,2009,Alaska,AK,2,"Aleutians West Census Area, AK",5537.0,10.1-12
2,2170,2004,Alaska,AK,2,"Matanuska-Susitna Borough, AK",70761.0,10.1-12
3,2180,2003,Alaska,AK,2,"Nome Census Area, AK",9210.0,4.1-6
4,2016,2000,Alaska,AK,2,"Aleutians West Census Area, AK",5470.0,2.1-4

In [7]:

# export csv file version
data_file_csv = Path("../project-3/Resources/data_file.csv")
data_file_df.to_csv(data_file_csv, index=False)

# export json file version
data_file_json = Path("../project-3/Resources/data_file.json")
data_file_df.to_json(data_file_json, orient="records")

In [85]:
#get entries with highest Age adj Death rate counts  
filtered_df = data_file_df[data_file_df['Est. Age-Adj death rate (in ranges)'].str.contains('>30')]
filtered_df.head()

,FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges)
425,2280,2015,Alaska,AK,2,"Wrangell-Petersburg Census Area, AK",3177.0,>30
2869,4012,2013,Arizona,AZ,4,"La Paz County, AZ",20377.0,>30
2930,4012,2014,Arizona,AZ,4,"La Paz County, AZ",20314.0,>30
2967,4012,2015,Arizona,AZ,4,"La Paz County, AZ",20152.0,>30
2978,4007,2015,Arizona,AZ,4,"Gila County, AZ",53159.0,>30

In [86]:
#just confirming the total count of entries
filtered_df["Est. Age-Adj death rate (in ranges)"].value_counts()

Est. Age-Adj death rate (in ranges)
>30    551
Name: count, dtype: int64

In [77]:
#export filtered to csv

# Define the path to the resources folder
output_file = Path("../project-3/Resources/filtered_data.csv")

filtered_df.to_csv(output_file, index=False)

In [89]:
#import geo file for counties' lang and lat
geo_df = pd.read_csv(Path("../project-3/Resources/us_county_latlng.csv"))
geo_df

      fips_code         name        lng        lat
0          1059     Franklin -87.843283  34.442381
1         13111       Fannin -84.319296  34.864126
2         19109      Kossuth -94.206898  43.204140
3         40115       Ottawa -94.810589  36.835878
4         42115  Susquehanna -75.800905  41.821277
...         ...          ...        ...        ...
3228      12029        Dixie -83.158705  29.608068
3229      18017         Cass -86.346207  40.761660
3230      26091      Lenawee -84.066412  41.894694
3231      72003       Aguada -67.175247  18.360392
3232      72013      Arecibo -66.674003  18.406540

[3233 rows x 4 columns]

In [96]:
geo_df = geo_df.drop(columns={"name"})
geo_df

       FIPS        lng        lat
0     01059 -87.843283  34.442381
1     13111 -84.319296  34.864126
2     19109 -94.206898  43.204140
3     40115 -94.810589  36.835878
4     42115 -75.800905  41.821277
...     ...        ...        ...
3228  12029 -83.158705  29.608068
3229  18017 -86.346207  40.761660
3230  26091 -84.066412  41.894694
3231  72003 -67.175247  18.360392
3232  72013 -66.674003  18.406540

[3233 rows x 3 columns]

In [97]:
geo_df = geo_df.rename(columns={"fips_code":"FIPS"})
geo_df.head()

    FIPS        lng        lat
0  01059 -87.843283  34.442381
1  13111 -84.319296  34.864126
2  19109 -94.206898  43.204140
3  40115 -94.810589  36.835878
4  42115 -75.800905  41.821277

In [98]:
merged_df = pd.merge(filtered_df, geo_df, on='FIPS', how='left')
merged_df.head()

,FIPS,Year,State,ST,FIPS State,County,Population,Est. Age-Adj death rate (in ranges),lng,lat
0,02280,2015,Alaska,AK,2,"Wrangell-Petersburg Census Area, AK",3177.0,>30,NaN,NaN
1,04012,2013,Arizona,AZ,4,"La Paz County, AZ",20377.0,>30,-113.981207,33.729161
2,04012,2014,Arizona,AZ,4,"La Paz County, AZ",20314.0,>30,-113.981207,33.729161
3,04012,2015,Arizona,AZ,4,"La Paz County, AZ",20152.0,>30,-113.981207,33.729161
4,04007,2015,Arizona,AZ,4,"Gila County, AZ",53159.0,>30,-110.811968,33.799969

In [105]:
#how many Nan do we have  ----------- FIPcode for this one AK county not in geo data (wasnt official county by then?) 
nan_count = merged_df['lng'].isna().sum()
nan_count

1

In [106]:
#export merged data inot csv 
output_file2 = Path("../project-3/Resources/merged_data.csv")
merged_df.to_csv(output_file2, index=False)

In [108]:
# Save the merged data with latitude and longitude to a JSON file
output_json_file = Path("../project-3/Resources/merged_data.json")
merged_df.to_json(output_json_file, orient='records')

In [10]:
import json
# import json file
with open('../project-3/Resources/merged_data.json', 'r') as f:
    data = json.load(f)

# Create a GeoJSON structure
geojson = {
    "type": "FeatureCollection",
    "features": []
}

# Map the JSON data to GeoJSON format
for entry in data:
    if entry['lng'] is not None and entry['lat'] is not None:
        feature = {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [entry['lng'], entry['lat']]
            },
            "properties": {
                "FIPS": entry["FIPS"],
                "Year": entry["Year"],
                "State": entry["State"],
                "ST": entry["ST"],
                "FIPS State": entry["FIPS State"],
                "County": entry["County"],
                "Population": entry["Population"],
                "Est. Age-Adj death rate (in ranges)": entry["Est. Age-Adj death rate (in ranges)"]
            }
        }
        geojson['features'].append(feature)

# Save the GeoJSON data to a file
with open('../project-3/Resources/merged_data.geojson', 'w') as f:
    json.dump(geojson, f, indent=2)